@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


/* .main-header .navbar-nav .nav-item .nav-link {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.firebase-emulator-warning {
  display: none;
}

.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
  margin-top: 0;
}

.layout-navbar-fixed .wrapper .brand-link {
  padding-bottom: 11px;
}

.control-sidebar-slide-open .control-sidebar,
.control-sidebar-slide-open .control-sidebar::before {
  right: -15px;
}
.layout-fixed.control-sidebar-slide-open .control-sidebar,
.control-sidebar-slide-open .control-sidebar::before {
  right: 0px;
}

.control-sidebar-slide-open .control-sidebar,
.control-sidebar-slide-open .control-sidebar::before {
  transition: none;
} */
